.crewBtn {
  position: relative;
  width: 67%;
  background-color: white;
  border: none;
  margin-top: 1rem;
  font-size: 18px;
  font-weight: bold;
}
.delBtn {
  background-color: white;
  border: none;
  font-size: 18px;
}
.crewBoxContainer {
  /* max-width: 1800px; */
  /* margin: 5% 15% 25%; */
  margin-left: 140px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
}
.crewBox {
  width: 30%;
  height: 30%;
  margin-bottom: 100px;
}

.crewImg {
  display: flex;
  width: 280px;
  height: 280px;
  cursor: pointer;
}

/* 수정중 */
.sc-AHaJN {
  position: relative;
  top: 20%;
  left: 0%;
  display: flex;
  margin: 0 70px;
}

.mainChatBox {
  width: 30%;
  height: 500px;
}

@media (max-width: 1920px) {
  .crewBoxContainer {
    margin-left: 140px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
  }
  .crewBox {
    width: 30%;
    height: 30%;
    margin-bottom: 100px;
  }

  .crewImg {
    display: flex;
    width: 280px;
    height: 280px;
    cursor: pointer;
  }
}

@media (max-width: 1700px) {
  .crewBox {
    width: 50% !important;
  }
}
@media (max-width: 1025px) {
  .crewBox {
    width: 0%;
  }
}
