/* * {
  @font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff')
      format('woff');
    font-weight: normal;
    font-style: normal;
  }
} */
.modalBody {
  margin: 0 auto;
}

.container {
  /* max-width: 1920px; */
  border: 1px solid #d8d8d8;
  background-color: #faf9f9;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  border-left: 1px solid #d8d8d8;
  padding: 10px 10px;
}
.my_info_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.edit_profile {
  width: 20vh;
  margin: 10px;
  border: none;
  background-color: #d8d8d8;
}
.del_profile {
  width: 20vh;
  border: none;
  background-color: #d8d8d8;
}

.delete_profile {
  margin: 10px;
}
.myInfo {
  margin-bottom: 20px;
  /* font-size: 30px; */
}

.crew_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 50px 0; */
}
.crew_card {
  /* border: 1px solid black; */
  background-color: #faf9f9;
  /* box-shadow: 10px 5px 5px grey; */
  border-radius: 10px;
  width: 300px;
  text-align: center;
}
.crew {
  /* margin-bottom: 20px; */
  font-size: 2vh;
}
.crew_img {
  width: 100%;
  height: 15vh;
}
.crew_info {
  margin: 0 1%;
  width: 30%;
  height: 70%;
  /* border: 1px solid #d8d8d8; */
  /* display: flex; */
  /* flex-direction: row; */
  margin-bottom: 10px;
  align-items: center;
  float: left;
}
ul {
  margin: 0;
  padding: 0;
  align-items: center;
}
li {
  list-style: none;
}
.challenge_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 50px 0; */
}
.challenge_card {
  /* border: 1px solid black; */

  /* box-shadow: 10px 5px 5px grey; */

  /* width: 300px; */
  text-align: center;
}
.challenge {
  margin-bottom: 20px;
}
.amount {
  margin-top: center;
}
.modal_footer {
  display: flex;
  justify-content: center;
}
.id {
  border: 1px solid black;
}
.password {
  border: 1px solid black;
}
.city {
  border: 1px solid black;
}
@media (max-width: 880px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 880px) {
  .crew_container,
  .challenge_container,
  .my_info_container {
    margin: 50px 0;
  }
}
.accordion {
  width: 50vh;
}
.total_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.user_container {
  border: 1px solid #d8d8d8;
  background-color: #faf9f9;
  border-radius: 10px;
  padding: 30px 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.my_info {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
.challenge_box {
  border: 1px solid black;
  float: left;
}
.crew_word {
  font-size: 80%;
}
